from importlib import import_module

from tutake.utils.singleton import Singleton

@Singleton
class DAO(object):
    def __init__(self):
        self.instances = {}
        pass

    def __getattr__(self, name, config):
        if not self.instances.get(name):
            self.instances[name] = self.instance_from_name(name, config)
        return self.instances.get(name)

    def all_apis(self):
        return [{% for api in apis %}'{{api.name}}'{% if not loop.last %}, {% endif %}{% endfor %}]

    def instance_from_name(self, name, config):
{% for api in apis %}
        if name == '{{api.name}}':
            {{api.name}}_module = import_module("tutake.api.tushare.{{api.name}}")
            clazz = getattr({{api.name}}_module, "{{api.title_name}}")
            return clazz(config){% endfor %}
        else:
            return None


