"""
This file is auto generator by CodeGenerator. Don't modify it directly, instead alter tushare_api.tmpl of it.

Tushare {{name}}接口
{% autoescape false %}{{desc}}{% endautoescape %}
{{path}}  https://tushare.pro/document/2?doc_id={{id}}

@author: rmfish
"""
import pandas as pd
from sqlalchemy import Integer, String, Float, Column
from sqlalchemy.orm import sessionmaker

from tutake.api.base_dao import BaseDao, BatchWriter, TutakeTableBase
from tutake.api.process import DataProcess, ProcessException
from tutake.api.ts import {{name}}_ext
from tutake.api.ts.tushare_dao import TushareDAO, create_shared_engine
from tutake.api.ts.tushare_api import TushareAPI
from tutake.api.ts.tushare_base import TuShareBase
from tutake.utils.config import TutakeConfig
from tutake.utils.decorator import extends_attr
from tutake.utils.utils import project_root


class {{entity_name}}(TutakeTableBase):
    __tablename__ = "{{table_name}}"
    {% for output in outputs %}{% if output.get('column_name') is defined and output.column_name %}{{output.column_name}}{% else %}{{output.name}}{% endif %} = Column({{output.data_type|get_sql_type}}{% if output.primary_key %}, primary_key=True{% endif %}{% if output.index %}, index=True{% endif %}, comment='{% autoescape false %}{{output.desc}}{% endautoescape %}')
    {% endfor %}


class {{title_name}}(TushareDAO, TuShareBase, DataProcess):
    instance = None

    def __new__(cls, *args, **kwargs):
        if cls.instance is None:
            cls.instance = super().__new__(cls)
        return cls.instance

    def __init__(self, config):
        self.table_name = "{{table_name}}"
        self.database = '{{database}}.duckdb'
        self.database_dir = config.get_tutake_data_dir()
        self.database_url = config.get_data_driver_url(self.database)
        self.engine = create_shared_engine(self.database_url, connect_args={'check_same_thread': False, 'timeout': config.get_sqlite_timeout()})
        session_factory = sessionmaker()
        session_factory.configure(bind=self.engine)
        {{entity_name}}.__table__.create(bind=self.engine, checkfirst=True)
        self.schema = BaseDao.parquet_schema({{entity_name}})

        query_fields = [{% for input in inputs %}'{{input.name}}'{% if not loop.last %}, {% endif %}{% endfor %}]
        self.tushare_fields = [{% for output in outputs %}"{{output.name}}"{% if not loop.last %}, {% endif %}{% endfor %}]
        entity_fields = [{% for output in outputs %}"{% if output.get('column_name') is defined and output.column_name %}{{output.column_name}}{% else %}{{output.name}}{% endif %}"{% if not loop.last %}, {% endif %}{% endfor %}]
        column_mapping={% if column_rename is defined and column_rename %}{% autoescape false %}{{column_rename}}{% endautoescape %}{% else %}None{% endif %}
        TushareDAO.__init__(self, self.engine, session_factory, {{entity_name}}, self.database, self.table_name, query_fields, entity_fields, column_mapping, config)
        DataProcess.__init__(self,"{{name}}", config)
        TuShareBase.__init__(self,"{{name}}", config, {{integral_required or 120}})
        self.api = TushareAPI(config)

    def columns_meta(self):
        return [{% for output in outputs %}{"name":"{{output.name}}","type":"{{output.data_type|get_sql_type}}","comment":"{% autoescape false %}{{output.desc}}{% endautoescape %}"}{% if not loop.last %},{% endif %}{% endfor %}]

    def {{name}}(self, fields='{{default_fields}}', **kwargs):
        """
        {{desc}}
        | Arguments:
        {% for input in inputs %}| {{input.name}}({{input.data_type}}): {% if input.must=='Y' %}required{% endif %}  {{input.desc}}
        {% endfor %}
        :return: DataFrame
        {% for output in outputs %} {{output.name}}({{output.data_type}})  {% autoescape false %}{{output.desc}} {{output.must}}{% endautoescape %}
        {% endfor %}
        """
        {% if default_query_params is defined and default_query_params %}default_query_params={% autoescape false %}{{default_query_params}}{% endautoescape %}
        kwargs = {**default_query_params, **kwargs}
        {% endif %}return super().query(fields, **kwargs)

    def process(self, **kwargs):
        """
        同步历史数据
        :return:
        """
        return super()._process(self.fetch_and_append, BatchWriter(self.engine, self.table_name, self.schema, self.database_dir), **kwargs)

    def fetch_and_append(self, **kwargs):
        """
        获取tushare数据并append到数据库中
        :return: 数量行数
        """
        init_args = { {% for input in inputs %}"{{input.name}}": ""{% if not loop.last %},{% endif %}{% endfor %} }
        if len(kwargs.keys()) == 0:
            kwargs = init_args
        # 初始化offset和limit
        if not kwargs.get("limit"):
            kwargs['limit'] = self.default_limit()
        init_offset = 0
        offset = 0
        if kwargs.get('offset'):
            offset = int(kwargs['offset'])
            init_offset = offset

        kwargs = {
            key: kwargs[key] for key in kwargs.keys() & init_args.keys()
        }

        def fetch_save(offset_val=0):
            try:
                kwargs['offset'] = str(offset_val)
                self.logger.debug("Invoke pro.{{name}} with args: {}".format(kwargs))
                return self.tushare_query('{{name}}', fields=self.tushare_fields, **kwargs)
            except Exception as err:
                raise ProcessException(kwargs, err)

        res = fetch_save(offset)
        size = res.size()
        offset += size
        while kwargs['limit'] != "" and size == int(kwargs['limit']):
            result = fetch_save(offset)
            size = result.size()
            offset += size
            res.append(result)
        res.fields = self.entity_fields
        return res

extends_attr({{title_name}}, {{name}}_ext)


if __name__ == '__main__':
    import tushare as ts
    pd.set_option('display.max_columns', 50)  # 显示列数
    pd.set_option('display.width', 100)
    config = TutakeConfig(project_root())
    pro = ts.pro_api(config.get_tushare_token())
    print(pro.{{name}}({% autoescape false %}{{default_query}}{% endautoescape %}))


    api = {{title_name}}(config)
    print(api.process())  # 同步增量数据
    print(api.{{name}}({% autoescape false %}{{default_query}}{% endautoescape %}))  # 数据查询接口

